body
{
    background: url("pngs/background.jpeg");
    background-size: cover;
    color: white;
}
/*
    Eli Pandolfo
    CSS for displaying model solar system
*/
h1
{
    text-align: center;
}
#sun
{
    position: absolute;
}
#mercury
{
    position: absolute;
}
#venus
{
    position: absolute;
}
#earth
{
    position: absolute;
}
#mars
{
    position: absolute;
}
#jupiter
{
    position: absolute;
}
#saturn
{
    position: absolute;
}
#uranus
{
    position: absolute;
}
#neptune
{
    position: absolute;
}
#time_slider
{
    position: absolute;
    bottom: 30px;
    right: 250px;
    width: 200px;
}
#size_slider
{
    position: absolute;
    bottom: 30px;
    left: 250px;
    width: 200px;
}
.label
{
    color: white;
    position: absolute;
    bottom: 30px;
}
